@model Oppimispäiväkirja_versio1.Models.ToDo

@{
    ViewData["Title"] = "Details";
}

<section class="container-fluid">
    <div class="text-center">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Description)*@
                            Tehtävä
                        </th>
                    
                        <th>
                            @*@Html.DisplayNameFor(model => model.IsDone)*@
                            Valmis
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IsDone)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Muokkaa</a>
                <div><br /></div>
                <p>
                    <a asp-action="Index" class="btn btn-light" button style="font-size:18px;">Takaisin listaan<i class='fas fa-cat'></i></a>
                    <br />
                </p>
            </div>
            <br />
        </div>
    </div>
</section>
