@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>

<section>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="4000">
                <a href="https://localhost:44320/Topics/Create">
                    <img src="https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" class="d-block w-100" alt="Ensimmäinen kuva" style="border-radius: 0.3rem">
                    <div class="carousel-caption">
                        <h2 id="carousel-text">ALOITA UUSI AIHE</h2>
                    </div>
                </a>
            </div>
            @*<div class="carousel-item" data-interval="4000">
                <a href="https://localhost:44320/Notes/Create">
                    <img src="https://images.unsplash.com/photo-1599008633840-052c7f756385?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="Toinen kuva" style="border-radius: 0.3rem">
                    <div class="carousel-caption">
                        <h2 id="carousel-text">KIRJOITA MUISTIINPANO</h2>
                    </div>
                </a>
            </div>*@
            <div class="carousel-item" data-interval="4000">
                <a href="https://localhost:44320/Topics/Index">
                    <img src="https://images.unsplash.com/photo-1653130892179-98a1a5a19f32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="Kolmas kuva" style="border-radius: 0.3rem">
                    <div class="carousel-caption">
                        <h2 id="carousel-text">MUOKKAA MERKINTÖJÄ</h2>
                    </div>
                </a>
            </div>
            <div class="carousel-item" data-interval="4000">
                <a href="https://localhost:44320/ToDoes/Index">
                    <img src="https://images.unsplash.com/photo-1644329843491-99edfc83de04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="d-block w-100" alt="Neljäs kuva" style="border-radius: 0.3rem">
                    <div class="carousel-caption">
                        <h2 id="carousel-text">LISÄÄ TEHTÄVIÄ</h2>
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>