
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Oppimispäiväkirja_versio1.Controllers
@using System.Security.Cryptography.X509Certificates
@model Oppimispäiväkirja_versio1.Models.ViewModels;

@{
    ViewData["Title"] = "Create";
}



<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>
<section class="container-fluid">
    <div class="text-center">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <br />
                        <label asp-for="Topic.Id" for="titlesDropdown"><b>Otsikko</b></label>
                        <select class="form-control" id="titlesDropdown" name="titlesDropdown">
                            @*<option>@Html.DropDownListFor(model => model.Topic.ID, (IEnumerable<SelectListItem>)ViewBag.Topikit,
            "Valitse otsikko", htmlAttributes: new { @class = "form-control" })</option>*@
                            @foreach (var item in Model.Topics)
                            {
                                <option value="Note.NoteID">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </option>
                            }
                        </select>
                        <span asp-validation-for="Topic.Id" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="Note.NoteText">Muistiinpano:</label>
                            <input asp-for="Note.NoteId" class="form-control" />
                            <span asp-validation-for="Note.NoteText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tallenna" class="btn btn-primary" />
                        </div>
                        @*<input asp-for="Topic.Title" class="form-control" id="myId" onmouseover="changeBackground(this.id, 'lightgray'); "onmouseout="changeBackground(this.id, 'white');" />
        <span asp-validation-for="Topic.Title" class="text-danger"></span>*@
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
</form>
                <div class="page-item">
                    <p>
                        <a asp-action="Index" class="btn btn-light" button style="font-size:18px;">Takaisin listaan<i class='fas fa-cat'></i></a>
                        <br/>
                    </p>
                    <br />
                </div>
            </div>
        </div>
        </div>
</section>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
