@model Oppimispäiväkirja_versio1.Models.Note

@{
    ViewData["Title"] = "Edit";
}
<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>
<section class="container-fluid">
    <div class="text-center">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Topic" class="control-label">Otsikko:</label>
                        <input asp-for="Topic" class="form-control" />
                        <span asp-validation-for="Topic" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoteText" class="control-label">Muistiinpano:</label>
                        <input asp-for="NoteText" class="form-control" />
                        <span asp-validation-for="NoteText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="page-item">
            <p>
                <a asp-action="Index" class="btn btn-light" button style='font-size:18px;'>Takaisin listaan<i class='fas fa-cat'></i></a>
            </p>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
