@using Microsoft.EntityFrameworkCore.Infrastructure
@model IEnumerable<Oppimispäiväkirja_versio1.Models.Topic>

@{
    ViewData["Title"] = "ViewJoku";
}


@foreach (var item in Model)
{
    @item.Title;
}
<form id="myForm">
    <label for="titlesDropdown"><b>Otsikko</b></label>
    <select class="form-control" id="titlesDropdown" name="titlesDropdown">
     
    </select>
</form>
