
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

body {
    background: url( https://img.freepik.com/free-vector/abstract-soft-brown-hand-painted-watercolor-pastel-background_1055-14336.jpg?w=900&t=st=1658947107~exp=1658947707~hmac=838a368b764708b837aeb9453307198969d33ef98f9287b10bbfea41f28f1b8c) no-repeat center center fixed;
    background-size: cover;
}
.jumbotron {
    background-color: floralwhite;
    /*opacity: 70%;*/
    font-family: "Montserrat";
    font-size: large;
    color: black;
}

.container {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

.container-fluid {
    width: 100%;
    height: auto;
    background-color: floralwhite;
    border-radius: 0.3rem;
    
}

.material-icons {
    color: peachpuff;
    background-color: rosybrown;
    border-radius: 0.9rem;
}

table {
    table-layout: fixed;
    width: fit-content;
    border: 3px solid floralwhite;
    
}

.form-control {
    background: white;
}

.carousel.inner {
    object-fit: none;
    object-position: center;
    overflow: hidden;
   
}

div.carousel-caption {
    background-color: floralwhite;
    position: center;
    text-align: center;
    font-family: "Montserrat";
    font-size: 40px;
    color: black;
    text-align: center;
    border-radius: 0.3rem;
}


h1, h3 {
    color: #343338;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

p {
    
    font-size: 16px;
    font-weight: 300;
    color: #343338;
}

table, thead, th {
    color: #343338;
    font-size: medium;
}

th {
    color: #343338;
    font-size: medium;
}

.btn-primary {
    background-color: rosybrown !important;
   
}

.btn-danger {
    background-color: lightcoral !important;
}
.btn-light {
    font-size: 18px;
    background-color: peachpuff;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.foot {
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;
    text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
   
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}
