@model Oppimispäiväkirja_versio1.Models.Topic

@{
    ViewData["Title"] = "Create";
}
<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>
<section class="container-fluid">
    <div class="text-center">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <br/>
                        <label asp-for="Title" class="control-label">Otsikko</label>
                        <input asp-for="Title" class="form-control" id="myId" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Kuvaus</label>
                        <input asp-for="Description" class="form-control" id="myId1" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EstimatedTimeToMaster" class="control-label">Arvio kestosta tunteina</label>
                        <input asp-for="EstimatedTimeToMaster" class="form-control" id="myId2" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');">
                        <span asp-validation-for="EstimatedTimeToMaster" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeSpent" class="control-label">Aikaa kulunut</label>
                        <input asp-for="TimeSpent" class="form-control" id="myId3" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');">
                        <span asp-validation-for="TimeSpent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Source" class="control-label">Lähdemateriaali</label>
                        <input asp-for="Source" class="form-control" id="myId4" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="Source" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartLearningDate" class="control-label">Aloituspäivä</label>
                        <input asp-for="StartLearningDate" class="form-control" id="myId5" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="StartLearningDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InProgress" class="control-label">Projekti kesken</label>
                        <input asp-for="InProgress" class="form-control" id="myId6" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="InProgress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompletionDate" class="control-label">Lopetuspäivä</label>
                        <input asp-for="CompletionDate" class="form-control" id="myId7" onmouseover="changeBackground(this.id, 'lightgray');"
                               onmouseout="changeBackground(this.id, 'white');" />
                        <span asp-validation-for="CompletionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="page-item">
            <p>
                <a asp-action="Index" class="btn btn-light" button style="font-size:18px;">Takaisin listaan<i class='fas fa-cat'></i></a>
                <br/>
            </p>
            <br />
            </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
